@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Vehicle Service</h1>
        <p class="lead">Test application</p>
        <div class="col-md-12">

            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
    </div>*@
<br />

<!-- Heading Row -->
<div class="row">

    <div class="col-md-8">
        <h1>Vehicle Service</h1>
        <p class="lead">Test application</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mi ac nisi hendrerit lobortis ac at nibh. Nullam porta ligula vel vestibulum imperdiet. In magna nibh, cursus varius nisi et, rhoncus sodales lacus. Aenean ultricies scelerisque elit, eu rhoncus enim tempus sed. Praesent vitae dictum purus, sit amet sagittis nisi. Aenean ut justo at lorem porttitor mollis. Donec interdum convallis tortor rutrum convallis.
        </p>
        <p>
            Maecenas at orci imperdiet, tincidunt urna id, rutrum velit. Integer dignissim, lacus quis ullamcorper dapibus, lorem tortor sagittis lorem, vestibulum commodo mi ex a urna. Ut leo justo, molestie at eros eget, sollicitudin porttitor purus. Curabitur condimentum ac nisl vitae malesuada. Sed non dictum massa. Quisque nec egestas quam. Maecenas nisi ipsum, rutrum id malesuada ut, molestie in ante. Etiam ornare egestas imperdiet.
        </p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <img class="img-responsive img-rounded" src="https://image.freepik.com/iconos-gratis/delantera-del-coche-y-una-llave-inglesa--la-mecanica_318-37322.png" alt="">
    </div>
    <!-- /.col-md-8 -->
</div>
<!-- /.row -->

<div class="row">

</div>